<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.lease.web.admin.mapper.LabelInfoMapper">

    <select id="selectListByApartmentId" resultType="com.baidu.lease.model.entity.LabelInfo">
        select t3.* from (select ifnull(t1.is_deleted,0) as is_deleted,t1.type,t1.name,t2.apartment_id,t1.id from label_info t1
                                                                                                                left join apartment_label t2 on t1.id = t2.label_id and t1.is_deleted = 0 and t2.is_deleted = 0) t3
                             left join apartment_info t4 on t3.apartment_id = t4.id and t4.is_deleted = 0
        where t3.type=1 and t4.id = #{id}
    </select>
</mapper>
